version: '3.1'


services:

  db:
    image: mongo:5
    ports:
      - 27017:27017
    restart: always
    environment:
      MONGO_INITDB_ROOT_USERNAME: root
      MONGO_INITDB_ROOT_PASSWORD: 123123
      MONGO_INITDB_DATABASE: formula1

  dbmigration:
    build:
      context: ./app
      dockerfile: Dockerfile
    environment:
      - APP_PORT=3000
      - DATABASE_PORT=27017
      - DATABASE_USERNAME=root
      - DATABASE_PASSWORD=123123
      - DATABASE_HOST=db
      - DATABASE_DATABASE=formula1
    command: npm run migrate:up
    depends_on:
      - db

  app:
    build:
      context: ./app
      dockerfile: Dockerfile.dev
    environment:
      - APP_PORT=3000
      - DATABASE_PORT=27017
      - DATABASE_USERNAME=root
      - DATABASE_PASSWORD=123123
      - DATABASE_HOST=db
      - DATABASE_DATABASE=formula1
    ports:
      - 3000:3000
      - 9229:9229
    depends_on:
      - dbmigration
    links:
      - "swagger"

  swagger:
    image: swaggerapi/swagger-ui
    environment:
      - SWAGGER_JSON=/app/swagger.yaml
      - BASE_URL=/swagger
    volumes:
      - ./swagger:/app
